body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.wheel {
  background-color: yellow;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(50, 10px);
  grid-template-rows: repeat(50, 10px);
  grid-column: 5 100px;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
}

.first-section {
  grid-column: 25 / 51;
  grid-row: 1 / 25;
  background-color: black;
  border-top-right-radius: 50%;
}

.second-section {
  grid-column: 25 / 51;
  grid-row: 25 / 51;
  background-color: red;
  border-bottom-right-radius: 50%;
}

.third-section {
  grid-column: 1 / 25;
  grid-row: 1 / 25;
  background-color: orange;
  border-top-left-radius: 50%;
}

.fourth-section {
  grid-column: 1 / 25;
  grid-row: 25 / 51;
  background-color: pink;
  border-bottom-left-radius: 50%;
}

.segment {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
